---

---

<div
  class="flex lg:translate-y-[50%] m-auto flex-col items-center justify-center bg-background px-4 py-12 sm:px-6 lg:px-8"
>
  <div class="mx-auto max-w-md text-center">
    <svg
      class="mx-auto h-12 w-12 text-primary dark:text-white"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"
      ></path>
      <path d="M12 9v4"></path>
      <path d="M12 17h.01"></path>
    </svg>
    <h1
      class="mt-4 text-3xl font-bold tracking-tight text-foreground sm:text-4xl dark:text-white"
    >
      Lo sentimos, no se encontró el producto
    </h1>
    <p class="mt-4 text-muted-foreground dark:text-white">
      Parece que el producto que estás buscando no está disponible en este
      momento. Por favor, revisa más tarde o busca otros productos similares.
    </p>
    <div class="mt-6">
      <a
        href="/"
        class="inline-flex items-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow-sm transition-colors bg-black text-white hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:text-black dark:bg-gray-50 dark:hover:bg-gray-200"
      >
        Volver a la página principal
      </a>
    </div>
  </div>
</div>
