---
import { SlMagicWand } from "react-icons/sl";
import { DATA_TIENDA } from "@/constants/const";
import { Nav } from "@/components/Nav";
import type { IconType } from "react-icons/lib";
import { TfiPanel } from "react-icons/tfi";
import { MdAdd } from "react-icons/md";
import { GoHome } from "react-icons/go";
import { SiSimpleanalytics } from "react-icons/si";
import { IoSettingsOutline } from "react-icons/io5";
import { FiBox } from "react-icons/fi";

const { session } = Astro.props;

const iconComponents = {
  TfiPanel,
  MdAdd,
  GoHome,
  SiSimpleanalytics,
  IoSettingsOutline,
  FiBox,
};

interface NavLink {
  name: string;
  href?: string;
  icon: keyof typeof iconComponents;
  select: number;
}

const routes = {
  admin: [
    { name: "Productos", href: "/admin/dashboard", icon: FiBox, select: 0 },
    {
      name: "Agregar",
      href: "/admin/dashboard/add",
      icon: MdAdd,
      select: 1,
    },
    {
      name: "Analytics",
      href: "/admin/dashboard/analytics",
      icon: SiSimpleanalytics,
      select: 2,
    },
    {
      name: "Configuración",
      href: "/admin/dashboard/settings",
      icon: IoSettingsOutline,
      select: 3,
    },

    { name: "Inicio", href: "/", icon: GoHome, select: 4 },
  ],
  user: [
    { name: "Inicio", href: "/", icon: GoHome, select: 0 },
    { name: "Preguntas", href: "/preguntas", icon: GoHome, select: 1 },
  ],
};
---

<aside
  class:list={[
    "w-full xl:flex-none xl:w-64 p-6 bg-white dark:bg-gray-950 dark:border-r dark:border-white min-h-full flex flex-col",
    {
      "bg-gray-100 dark:bg-gray-950": session,
    },
  ]}
>
  <div
    class:list={[
      "space-x-2 mb-6",
      {
        "flex flex-col items-center": session,
        "flex items-center": !session,
      },
    ]}
  >
    <p class="text-lg font-bold dark:text-white">
      {session ? "Panel de administración" : DATA_TIENDA.header.title}
    </p>
    <p class="text-gray-400 text-sm italic">
      {session && `Bienvenido ${session.name}`}
    </p>
    {!session && <SlMagicWand className="dark:text-white" />}
  </div>

  {
    session ? (
      <Nav
        client:load
        links={
          routes.admin.map((route) => ({
            href: route.href,
            icon: route.icon.name,
            name: route.name,
            select: route.select,
          })) as NavLink[]
        }
        localStorageKey="admin-aside"
        isSession={session}
      />
    ) : (
      <Nav
        client:load
        links={
          routes.user.map((route) => ({
            href: route.href,
            icon: route.icon.name,
            name: route.name,
            select: route.select,
          })) as NavLink[]
        }
        localStorageKey="user-aside"
      />
    )
  }
</aside>
