---
import { SlMagicWand } from "react-icons/sl";
import { DATA_TIENDA } from "@/constants/const";
import { Nav } from "@/components/Nav";
import type { IconType } from "react-icons/lib";
import { TfiPanel } from "react-icons/tfi";
import { MdAdd } from "react-icons/md";
import { GoHome } from "react-icons/go";

const { session } = Astro.props;

const routes = {
  admin: [
    { name: "Dashboard", href: "/admin/dashboard", icon: TfiPanel, select: 0 },
    {
      name: "Agregar producto",
      href: "/admin/dashboard/add",
      icon: MdAdd,
      select: 1,
    },

    { name: "Inicio", href: "/", icon: GoHome, select: 2 },
  ],
  user: [
    { name: "Inicio", href: "/", icon: GoHome, select: 0 },
    { name: "Preguntas", href: "/preguntas", icon: GoHome, select: 1 },
  ],
};
---

<aside
  class="w-full lg:flex-none lg:w-64 p-6 bg-white dark:bg-gray-950 dark:border-r dark:border-white min-h-full flex flex-col"
>
  <div
    class:list={[
      "space-x-2 mb-6",
      {
        "flex flex-col items-center": session,
        "flex items-center": !session,
      },
    ]}
  >
    <p class="text-lg font-bold dark:text-white">
      {session ? "Panel de administración" : DATA_TIENDA.header.title}
    </p>
    <p class="text-gray-400 text-sm italic">
      {session && `Bienvenido ${session.name}`}
    </p>
    {!session && <SlMagicWand className="dark:text-white" />}
  </div>

  {
    session ? (
      <Nav
        client:load
        links={routes.admin.map((route) => ({
          href: route.href,
          icon: route.icon,
          name: route.name,
          select: route.select,
        }))}
        localStorageKey="admin-aside"
        isSession={session}
      />
    ) : (
      <Nav
        client:load
        links={routes.user.map((route) => ({
          href: route.href,
          icon: route.icon,
          name: route.name,
          select: route.select,
        }))}
        localStorageKey="user-aside"
      />
    )
  }
</aside>
